{% include "header.html" %}


<!-- Header - set the background image for the header in the line below-->
<!--<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">-->
<!--    <div class="text-center my-5">-->
<!--        <img class="img-fluid rounded-circle mb-4" src="https://dummyimage.com/150x150/6c757d/dee2e6.jpg" alt="..."/>-->
<!--        <h1 class="text-white fs-3 fw-bolder">Full Width Pics</h1>-->
<!--        <p class="text-white-50 mb-0">Landing Page Template</p>-->
<!--    </div>-->
<!--</header>-->
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>Contact:</h2>
                <p class="lead">Feel free to reach out to me!</p>
                <p class="mb-1"><strong>Email:</strong> <a href="mailto:tomaszmaletka@gmail.com">tomaszmaletka@gmail.com</a></p>
                <p class="mb-1"><strong>Phone:</strong> <a href="tel:+48792007878">+48 792 007 878</a></p>
                <p class="mb-1"><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/tomasz-maletka" target="_blank">linkedin.com/in/tomasz-maletka</a></p>
                <p class="mb-0">Let’s connect and explore how we can work together!</p>
            </div>
        </div>
    </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>


{% include "footer.html" %}
