{% include "header.html" %}


<!-- Header - set the background image for the header in the line below-->
<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
    <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="{{ url_for('static', filename='assets/img/profile_picture.jpg') }}" alt="..."/>
        <h1 class="text-white fs-3 fw-bolder">Full Width Pics</h1>
        <p class="text-white-50 mb-0">Landing Page Template</p>
    </div>
</header>
<!-- Content section-->
<section class="py-5">
    <div class="container my-5">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h2>About Me</h2>
                <p class="lead">With a strong background in the automotive and insurance industries, I have spent years
                    mastering data analysis, negotiations, and technical assessments. Throughout my career, I have
                    worked with people from various backgrounds, helping them navigate complex technical and financial
                    matters with clarity and efficiency.</p>
                <p class="lead">Driven by my passion for data-driven decision-making, I am currently transitioning into
                    the field of Data Science. Over the past two years, I have been actively learning and teaching
                    practical applications of Python for data analysis, machine learning, and automation. My expertise
                    includes working with NumPy, Pandas, Scikit-Learn, XGBoost, Matplotlib, and Seaborn, as well as
                    FastAPI, Flask, Web Scraping (Beautiful Soup, Selenium), SQL, Excel (including Power Query), and
                    front-end technologies (HTML, CSS, Bootstrap).</p>
                <p class="lead">Combining my technical acumen with problem-solving and analytical thinking, I aim to
                    leverage Data Science to optimize business processes, detect patterns, and drive insights. I am
                    eager to bring my expertise and unique perspective to a dynamic, data-driven team.
                </p>
                <p class="lead">Let’s connect and explore how we can work together!</p>
            </div>
        </div>
    </div>
</section>
<!-- Image element - set the background image for the header in the line below-->
<div class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/4ulffa6qoKA/1200x800')">
    <!-- Put anything you want here! The spacer below with inline CSS is just for demo purposes!-->
    <div style="height: 20rem"></div>
</div>

{% include "footer.html" %}
